# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\개별연구-MAC\cv_preprocess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
